@import "tailwindcss";

@theme {
    /* Define Colors */
    --color-primary: #442E5C;
    --color-secondary: #d9d9d9;
    --color-tertiary: #f2f2f2;

    /* Define Fonts */
    --font-heading: "Quicksand", sans-serif;
    --font-subheading: "Manrope", sans-serif;
}


